<%= form_with(model: batch) do |form| %>
  <% if batch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
        <% batch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :csv, "CSV File" %>
    <%= form.file_field :csv %>


  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
